<MarketplaceDetails>
  <SmallAppTile>CarFindStoreTile.png</SmallAppTile>
  <ScreenShots>carfindScrsh2.png;carfindScrsh1.png;;;;;;;</ScreenShots>
  <ScreenShotsWXGA>carfindScrsh2wvga.png;carfindScrshwvga.png;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>carfindScrsh2720.png;carfindScrsh720.png;;;;;;;</ScreenShots720P>
</MarketplaceDetails>